swiper-container::part(bullet-active) {
  margin-bottom: 1vh;
  width: 40px;
  border-radius: 4px;
  background-color:#ff4500;
 
}
swiper-container::part(bullet) {
  margin-bottom: 1vh;
  width: 15px;
  border-radius: 4px;
  background: #fff;
  opacity: 1;
 
}

.grid{
  background:var(--ion-color-danger-shade);
}

